@import "config";

.btn {
    background-color: $primary;
    color: $primary-text;

    &.btn-dark {
        background-color: $secondary;
        color: $secondary-text;

        &:hover {
            background-color: lighten($color: $secondary, $amount: 20);
        }

        &:active {
            background-color: darken($color: $secondary, $amount: 10);
        }
    }

    &:hover {
        background-color: $primary-hover;
        cursor: pointer;
    }
}

